@model IEnumerable<Laptimes>

@{
    ViewData["Title"] = "Laptimes";
}

<table class="table">
    <tr>
        <th>Ranking</th>
        <th>Laptime</th>
        <th>Racer Name</th>
        <th>Kart #</th>
    </tr>
    @{ int ranking = 1; }
    @foreach (var laptimes in @Model)
    {
        <tr>
            <td>@ranking</td>
            <td>@laptimes.laptime</td>
            <td><a href="Laptimes/ViewRacer/@laptimes.customerid" class = text-black>@laptimes.racername </a></td>
            <td>@laptimes.kart</td>
        </tr>
        ranking++;
    }
    
</table>